# Dependencies
node_modules

# Build output
dist

# IDE
.vscode
.idea
*.swp
*.swo

# Environment
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# Video files (uncomment if you don't want to track large video files)
# public/videos/*.mp4
